* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

html{
font-family: Arial, Helvetica, sans-serif;
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
vertical-align: baseline;

}
/* HEADING */

/* Makes the header stick to the top of the page */
nav{
  width:100%;

}

/* Nav Link Styling */
nav a{
  color:rgb(0, 0, 0);
  text-decoration: none;
}

nav a:link{
  color:rgb(0, 0, 0);
  
}

nav a:visited{
  color:rgb(0, 0, 0);
  
}

nav a:hover{
  color:rgb(0, 0, 0);
  
}

nav a:active{
  color:rgb(0, 0, 0);

}

h1{
  font-family: "lores-12", sans-serif;
  font-size: 5rem;
  font-weight: 400;
  font-style: normal;
}


/* Creates and style the hamburger menu icon, Changes display on screen size */
.icon{
  background: black;
  display: none;
  position: absolute;
  border-radius: 25%;
  padding: 1.25rem;
  right: .75rem;
  top: .75rem;

}

/* Modifies the Navbar for medium to large screens */
.horizontal {
  background-color: rgb(189, 189, 189);
  display:flex;
  flex-direction: row;
  justify-content: right;
  padding: 1rem 1rem;
  flex:1;
}

.horizontal a{
  font-family: "lores-12", sans-serif;
  font-size: 1.25rem;
  font-weight: 700;
  font-style: normal;

  border: .2rem solid;
  border-color: black;
  text-decoration: none;
  
  display:flex;
  flex-direction: row;
  padding: .5rem;
  margin: 0rem 1rem 0rem 1rem;
  
}



.active{
  font-family: "video", serif;
font-weight: 700;
font-style: normal;
font-size: 1.5rem;

  float:left;
  text-decoration: none;
  display:block;
  padding: 1.5rem 1rem;
 
}

.logo{
  padding: none;
  width:7rem;
}

.navbar{
  background-color: rgb(126, 126, 126);
}

.horizontal a:hover{
  background-color: rgb(114, 114, 114);
}

/* BODY */

main{
  padding-top:3rem;
  margin: 0rem 1rem 12rem 1rem;

}

/* FOOTER */

footer{
  padding: 3rem 1.5rem;
  
  color:rgb(0, 0, 0);
}

footer ul{
  list-style: none;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

/* Footer Link Styling */
footer a{
  color:rgb(0, 0, 0);
  text-decoration: none;
}

footer a:link{
  color:rgb(0, 0, 0);
  
}

footer a:visited{
  color:rgb(0, 0, 0);
  
}

footer a:hover{
  color:rgb(0, 0, 0);
  
}

footer a:active{
  color:rgb(0, 0, 0);

}

.center{
  text-align: center;
}

.container {
  display: grid;
  grid-template-columns: 300px 300px 100px;
  grid-template-rows: 300px auto 80px; 
  column-gap: 10px;
  row-gap: 15px;

}

.container div{
  display: grid;
 
 

}

/* Portfolio Grid*/


/* SECTION ENDS */

/* --- Phone Screen Size --- */
@media screen and (max-width:37.5rem) {
  nav{
    width:100%;
    position: fixed;
  }
  

  .icon{
    display:block;
  }

  .horizontal {
    padding: 0rem;
    display:none;
    
  }


  .horizontal.vertical{
    position: absolute;
    right:0;
    display:flex;
    flex-direction: column;

  }

  .horizontal.vertical a{
    border: none;
    border-radius: 0;
    padding: 1.5rem 1rem;
    margin: 0 auto;
  }

  .active{
    float: none;
    text-decoration: none;
    display:block;
    
    
    
  
  }

  main{
    padding-top: 5rem;
    margin: 0rem 1rem;
  }

  footer{
    padding: 1rem 1.5rem;
  }

}

/* SECTION ENDS */



/* Tablet Screen Size */
@media screen and (min-width:37.5rem){
.horizontal {
  background-color: rgb(126, 126, 126);
}

.horizontal a{
  background-color: rgb(124, 168, 197);
}



}

/* Section Ends */

/* Desktop Screen Size */
@media screen and (min-width:60rem){

}

